:root {
    --darkb:#080f77;
    --lightb:#268be9;
    --wt: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
header {
    background-color: var(--darkb);
    color: var(--wt);
    text-align: left;
    padding: 20px;
}

.Gage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Developer information styling */
.Gage-info {
    text-align: center;
    margin-bottom: 20px;
}

.Gage-info img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    min-width: 300px;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: var(--wt);
    margin: 0 10px;
    cursor: pointer;
}

/* Work section styling */
.work-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-item {
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.work-item img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 5px;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
/* Responsive Layout */
@media (max-width: 768px) {
    .work-item {
        flex: 0 0 100%;
    }
}