:root {
    --darkb:#080f77;
    --lightb:#268be9;
    --wt: #fff;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
header {
    background-color: var(--darkb);
    font-size: 20px;
    color: var(--wt);
    text-align: left;
    padding: 20px;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 40px;
    margin-left: 25px;
    position: absolute;
}

h4 {
    font-size: 25px;
    text-align: center;
}
.Gage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.Gage img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

/* Developer information styling */
.Gage-info {
    text-align: center;
    margin-bottom: 20px;
}

.Gage-info img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
}

nav ul {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    min-width: 300px;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: var(--wt);
    margin: 0 10px;
    cursor: pointer;
}


.work-section {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-section::after {
    content: '';
    position: absolute;
    top: 44%;
    bottom: -25%;
    left: 12%;
    border-left: 4px solid var(--lightb);
    transform: translateX(-50%);
}

.work-item {
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.work-item img {
    max-width: 480px;
    height: 350px;
    border: 2px solid var(--darkb);
    border-radius: 5px;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

footer {
    margin-top: 480px;
    font-size: 20px;
}

footer ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

footer ul li {
    display: inline-block;
    margin-left: 15px;
}

footer a {
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .work-item {
        flex: 0 0 100%;
    }
}