:root {
    --darkb:#080f77;
    --lightb:#268be9;
    --wt: #fff;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: var(--darkb);
    font-size: 20px;
    color: var(--wt);
    text-align: left;
    padding: 20px;
}

h2 {
    color: var(--darkb);
    font-size: 40px;
    text-align: left;
    margin-left: 10px;
}

h3 {
    color: var(--darkb);
    font-size: 40px;
}



h4 {
    color: var(--darkb);
    font-size: 40px;
    margin-left: 25px;
    position: absolute;
}

h5 {
    color: var(--darkb);
    font-size: 25px;
    text-align: center;
}

p {
    color: var(--darkb);
}

#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about p {
    display: flex;
    color: var(--darkb);
    font-size: 17px;
    text-align: center;
    margin-top: -30px;
    margin-left: 50px;
    margin-right: 50px;
}

.Gage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -20px;
    margin-left: 10px;
}

.Gage img {
    width: 17%;
    min-width: 300px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}


.Gage-info {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    min-width: 300px;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: var(--wt);
    margin: 0 10px;
    cursor: pointer;
}


.work-section {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 100px;
}

.work-item1,
.work-item2 {
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.work-item1 img {
    width: 100%;
    height: 560px;
    border: 2px solid var(--darkb);
    border-radius: 5px;
}

.work-item1 img:hover,
.work-item2 img:hover {
    border: 2px solid red;
}

.work-item2 img {
    width: 100%;
    height: 250px;
    border: 2px solid var(--darkb);
    border-radius: 5px;
    margin-top: 60%;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

footer {
    margin-top: 250px;
    font-size: 20px;
}

footer ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-bottom: -30px;
    margin-top: -30px;
    justify-content: space-between;
}

footer ul li {
    text-decoration: none;
    color: var(--darkb);
    display: inline-block;
    margin-left: 15px; 
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }

    h2, h3, h5 {
        text-align: center;
        margin-left: 0;
    }

    h4 {
        text-align: center;
        position: static;
        margin-left: 20px;
    }

    #about p {
        margin-top: 0;
        margin-left: 0;
    }

    .Gage {
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .Gage img {
        min-width: 300px;
    }

    .work-section {
        margin-left: 0;
    }

    footer {
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    header {
        font-size: 24px;
    }

    h2, h3, h5 {
        font-size: 48px;
    }

    h4 {
        font-size: 48px;
        margin-left: 50px;
    }

    .Gage img {
        width: 15%;
    }

    .work-section {
        margin-left: 150px;
    }

    footer {
        margin-top: 300px;
    }
}